{%extends 'core/base.html' %}
{% block title %} |Contacto {% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers%}
 <h1>Contacto</h1>
 <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
       <div class="col-lg-8 col-md-10 mx-auto">
          <p>Cualquier duda o sugerencia ,contactarse a los sigueintes contactos...</p>
          <br>
          <p><b>Teléfono:</b> 246-215-94-08</p>
          <p><b>Honorarios:</b>-----------</p>
        </div>
</div>

{% endblock %}

